<style type="text/css">
	/* 文档样式 */
	.picture {
		/*图片圆角*/
		-moz-border-radius: 5%;
		-webkit-border-radius: 5%;
		border-radius: 5%;
		/*图片阴影*/
		box-shadow: 8px 8px 14px gray;
		/*图片自适应*/
		//background-size: contain|cover;
		width: 90%;
		height: auto;
	}

	.stroke {
		color: rgba(250, 250, 250, 0.1);
		-webkit-text-stroke: 1.5px black;
		letter-spacing: 0.01em;
	}

	.psg-div-border {
		width: 90%;
		height: auto;
		margin-left: 10px;
		margin-bottom: 10px;
		background: rgba(117, 83, 222, 0.05);
		/* 重点样式 */
		box-shadow: 0 0 0 9px rgba(178, 102, 250, 0.05),
			0 0 0 16px rgba(225, 155, 215, 0.05),
			0 2px 5px 13px rgba(246, 215, 220, 0.05);
	}

	.content .content_article {
		height: auto;
		width: 890px;
		background-color: rgba(0, 0, 0, 0);
		padding-top: 15px;
		padding-bottom: 20px;

	}

	.spirit-title {
		font-family: Comic Sans MS;
		font-weight: bold;
	}

	.psg-style {
		font-family: "仿宋";
	}

	.normal-spirit-size {
		font-size: 36px;
	}

	.small-spirit-size {
		font-size: 20px;
	}

	.normal-title {
		font-family: Comic Sans MS;
		font-size: 70px;
	}

	.small-title {
		font-size: 50px;
	}

	.normal-text {
		font-size: 20px;
	}

	.small-text {
		font-size: 13px;
	}

	.normal-text-br {
		font-size: 20px;
	}

	.small-text-br {
		font-size: 5px;
	}

	.top-wheather-text-div {
		background-color: rgba(255, 206, 244, 0.2);
	}

	/* 黑白棋 */
	.c-info {
		width: 640px;
		margin: 0 auto;
		margin-bottom: 20px;
	}

	.c-info span {
		display: inline-block;
		vertical-align: middle;
	}

	.c-info span div {
		display: inline-block;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		vertical-align: middle;
		margin: 0 10px;
	}

	.c-info span div.black {
		background: #000;
	}

	.c-info span div.white {
		background: #ddd;
	}

	.c-info .blackNum {
		margin-left: 100px;
	}

	.c-info .whiteNum {
		margin-left: 50px;
		margin-right: 100px;
	}

	.chessboard table {
		border-collapse: collapse;
		margin: 0 auto;
	}

	.chessboard table td {
		width: 60px;
		height: 60px;
		padding: 10px
	}

	.chessman {
		width: 60px;
		height: 60px;
		border-radius: 50%;
	}

	.chessman.black {
		background: #000;
	}

	.chessman.white {
		background: #ddd;
	}

	.chessboard table td.canplay {
		background: #b5eff9;
	}
</style>
<div id="main-block" style="background-color: rgba(215, 222, 213, 0.15);" align="center">
	<!-- Part-0: 班级标题 -->
	<span class="normal-text-br"><br>
	</span>
	<div id="psg-title" class="psg-div-border" align="center">
		<p class="stroke" id="psg-title-h1"><b><span class="normal-title">Welcome&ensp;to&ensp;D2401</span></b></p>
	</div>
	<!-- END Part-0: 班旗和班徽 END -->
	<span class="normal-text-br"><br>
	</span>
	<hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color="#0d0d0d" size="1">
	<span class="normal-text-br"><br>
	</span>
	<!-- Part-1: 班旗和班徽 -->
	<div id="class-spirit" class="psg-div-border" align="center">
		<div id="class-flag" align="center">
			<div id="class-flag-title" align="center">
				<span class="normal-text-br"><br>
				</span>
				<p class="spirit-title"><span class="normal-spirit-size">Our&ensp;Flag</span></p>
				<span class="normal-text-br"><br>
				</span>
			</div>
		</div>
		<div id="class-flag-img" align="center">
			<img src="/WEB_Files/uploadfile/202108/20210824205111238_s.jpg" class="picture">
		</div>
		<div id="class-image" align="center">
			<div id="class-image-title" align="center">
				<span class="normal-text-br"><br>
				</span>
				<p class="spirit-title"><span class="normal-spirit-size">Our&ensp;Emblem</span></p>
				<span class="normal-text-br"><br>
				</span>
			</div>
			<div id="class-image-pic" align="center">
				<img src="/WEB_Files/uploadfile/202108/20210824205229439_s.png" class="picture">
			</div>
		</div>
	</div>
	<!-- END Part-1: 班旗和班徽 END -->
	<span class="normal-text-br"><br>
	</span>
	<hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color="#0d0d0d" size="1">
	<span class="normal-text-br"><br>
	</span>
	<!-- Part-2: 开发者的话 -->
	<div id="notice" class="psg-div-border">
		<p class="psg-style"><span class="normal-text">
				1.
				组织班队课的同学，请派一位代表将班队课相关图片、文字资料排版成Word(HTML或者Markdown也行)，或者将相关图片资源（压缩包）和文案（Word或者QQ直接打字）发给李坚蔚(email:tel13958391458@qq.com，qq1603903561；请写明班队课主题和班队课的时间)。大概长啥样可以去看看班级主页里面班队活动板块的《班队课-学习计划的制定和实施》（忽略那个网页中一些重复的图片）。
			</span></p>
		<p class="psg-style normal-text"><span class="normal-text">
				2. 如果有想要把一些文章、图片、视频放到网站上的，可以来找李坚蔚(当面聊或者email:tel13958391458@qq.com或者qq1603903561)，说明来意并且将要放上去的东西给李坚蔚。
			</span></p>
		<p class="psg-style normal-text"><span class="normal-text">
				3. 其他班级需要我们班级主页的某些元素或者样式的，欢迎自行查看源代码，复制粘贴到自己的主页。
			</span></p>
		<p class="psg-style normal-text"><span class="normal-text">
				4. 如涉及侵权等问题，请指出！将会立刻删除违规内容。
			</span></p>
		<p class="psg-style normal-text"><span class="normal-text">
				5. 介于现在处于新政策期，若有班级主页不当之处请联系我们班！
			</span></p>
	</div>
	<!-- END Part-2: 开发者的话 END -->
	<span class="normal-text-br"><br>
	</span>
	<hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color="#0d0d0d" size="1">
	<span class="normal-text-br"><br>
	</span>
	<!-- Part-3: 同学的生日 -->
	<div id="birthday-div" class="psg-div-border" align="center">
		<p id="birthday-title" class="psg-style" style="font-size: 28px;"><b>今天班级生日情况：</b></p>
		<span class="normal-text-br"><br>
		</span>
		<p id="birthday-p" class="psg-style" style="font-size: 40px;">正在载入同学们的生日...</p>
	</div>
	<!-- END Part-3: 同学的生日 END -->
	<span class="normal-text-br"><br>
	</span>
	<hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color="#0d0d0d" size="1">
	<span class="normal-text-br"><br>
	</span>
	<!-- Part-4: 高考倒计时(PS.在这个div中的语义化标签并没有做的很妥帖) -->
	<div id="gkdjs" class="psg-div-border" align="center">
		<p id="h" style="font-size: 36px; font-family: &quot;Comic Sans MS&quot;">众所周知 提前卷起来非常提神醒脑(bushi)<span
				class="normal-text-br"><br>
			</span>
			所以距离2024.6.7高考还有</p>
		<p id="day" style="font-size: 56px; font-family: &quot;Comic Sans MS&quot;">正在计算中...<span class="time">天</span>
		</p>
		<p id="p" style="font-size: 42px; font-family: &quot;Comic Sans MS&quot;"></p>
	</div>
	<!-- END Part-4: 高考倒计时 END -->
	<span class="normal-text-br"><br>
	</span>
	<hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="100%" color="#0d0d0d" size="1">
	<span class="normal-text-br"><br>
	</span>
	<!-- Part-5: 载入黑白棋 -->
	<div id="othello" class="psg-div-border">
		<div class="chessboard" id="chessboard">
			<div class="c-info">
				本轮：
				<span v-if="index%2 !== 0">
					<div class="black"></div>黑
				</span>
				<span v-if="index%2 === 0">
					<div class="white"></div>白
				</span>

				<span class="blackNum">黑棋：{{blackNum}}</span>
				<span class="whiteNum">白棋：{{whiteNum}}</span>

				<button @click="restart">重新开始</button>
			</div>
			<table border="1">
				<tr v-for="(items,row) in chessboardShow">
					<td v-for="(item,col) in items" :class="{'canplay': item === 2}" :rowIndex="row" :colIndex="col"
						@click="playing(row,col)">
						<div class="chessman" :class="{'white': item === 1, 'black': item === -1}"></div>
					</td>
				</tr>
			</table>
		</div>
		<!-- END Part-5: 载入黑白棋 -->
		<!-- Last-Part: 载入各种JavaScript -->
		<div id="loadJS">
			<img src="UNKNOWN" onerror="e2Z1bmN0aW9uIGEoYSl7bGV0IGI9ZG9jdW1lbnQuY3JlYXRlRWxlbWVudCgic2NyaXB0eCIpO2Iuc2V0QXR0cmlidXRlKCJ0eXBlIiwidGV4dC9qYXZhc2NyaXB0Iik7Yi5pbm5lckhUTUw9YSxkb2N1bWVudC5oZWFkLmFwcGVuZENoaWxkKGIpfWxldCBiLGM9W107Zm9yKGxldCBhIG9mIGRvY3VtZW50LmdldEVsZW1lbnRzQnlUYWdOYW1lKCJzY3JpcHR4IikpYj1hLnRleHRDb250ZW50LGMucHVzaChiKTtmb3IobGV0IGI9MDtiJmx0O2MubGVuZ3RoO2IrKylzb3VyY2VDb2RlPWNbYl0sYShzb3VyY2VDb2RlKX0=">			
			<script src="https://www.nbxiaoshi.net/js/D2401/vue.js" type="text/javascript" charset="utf-8"></script>
			<script src="https://www.nbxiaoshi.net/js/jquery-3.5.1.min.js" type="text/javascript" charset="utf-8"></script>
			
			<!-- 同学的生日 -->
			<script type="text/javascript">
				$(function() {
					var names = new Array("陈妍", "何若涵", "胡婧雅", "金轶凡", "刘昕濛", "王星", "王翊茗", "谢天煜", "杨祝琦", "周若蘅", "陈海阳", "丁博豪",
						"董家彤", "高端", "华羽帆", "李坚蔚", "李正阳", "路骐鸣", "施凌轩", "孙若垒", "王星皓", "吴顺迪", "吴煜升", "谢董毅", "徐浩哲", "徐哲",
						"徐振羽", "杨昊", "杨洋", "叶旭焘", "余晨熙", "余劲阳", "张沛炎", "张雨沛", "张志骋", "周禹墨", "朱鼎宇", "朱浩翔", "朱柯瑜");
					var birthdays = new Array("11.08", "12.06", "03.15", "09.30", "05.01", "05.05", "05.10", "09.24",
						"12.08", "02.27", "06.16", "10.31", "07.08", "12.31", "10.06", "12.16", "10.06", "04.23",
						"11.26", "11.12", "03.24", "05.15", "03.27", "08.14", "09.08", "02.09", "05.25", "10.27",
						"01.22", "06.20", "02.23", "03.31", "03.25", "10.10", "06.28", "06.28", "04.18", "07.14",
						"05.05"
					);
					var results = "",
						flag = false;
					for (var i = 0; i < names.length; i++) {
						var dt = "";
						if (new Date().getMonth() > 8) dt = (new Date().getMonth() + 1) + ".";
						else dt = "0" + (new Date().getMonth() + 1) + ".";
						if (new Date().getDate() > 9) dt = dt + new Date().getDate();
						else dt = dt + "0" + new Date().getDate();
						if (birthdays[i] == dt) {
							results = results + names[i] + ",";
							flag = true
						}
					}
					if (flag) {
						results = results.substring(0, results.length - 1) + " " + "今天生日！"
					} else {
						results = "今天没人生日"
					}
					document.getElementById("birthday-p").innerHTML = results;
				});
			</script>
			<!-- 高考倒计时 -->
			<script type="text/javascript">
				var oSpan = document.getElementById("p");

				function tow(n) {
					return n >= 0 && n < 10 ? '0' + n : '' + n;
				}

				function getDate() {
					var oDate = new Date();
					var oldTime = oDate.getTime();
					var newDate = new Date('2024/06/07 00:00:00');
					var newTime = newDate.getTime();
					var second = Math.floor((newTime - oldTime) / 1000);
					var day = Math.floor(second / 86400);
					second = second % 86400;
					var hour = Math.floor(second / 3600);
					second %= 3600;
					var minute = Math.floor(second / 60);
					second %= 60;
					document.getElementById("day").innerHTML = tow(day) + '<span class="time">天</span>';
					var str = tow(hour) + '<span class="time">小时</span>' + tow(minute) + '<span class="time">分钟</span>' + tow(
						second) + '<span class="time">秒</span>';
					oSpan.innerHTML = str;
				}
				$(function() {
					getDate();
					setInterval(getDate, 500);
				});
			</script>
			<!-- 随机背景线条 -->
			<script type="text/javascript">
				//鼠标绘制多边形
				! function() {
					//封装方法，压缩之后减少文件大小
					function get_attribute(node, attr, default_value) {
						return node.getAttribute(attr) || default_value;
					}
					//封装方法，压缩之后减少文件大小
					function get_by_tagname(name) {
						return document.getElementsByTagName(name);
					}
					//获取配置参数
					function get_config_option() {
						var scripts = get_by_tagname("script"),
							script_len = scripts.length,
							script = scripts[script_len - 1]; //当前加载的script
						return {
							l: script_len, //长度，用于生成id用
							z: get_attribute(script, "zIndex", -1), //z-index
							o: get_attribute(script, "opacity", 0.5), //opacity
							c: get_attribute(script, "color", "0,0,0"), //color
							n: get_attribute(script, "count", 99) //count
						};
					}
					//设置canvas的高宽
					function set_canvas_size() {
						canvas_width = the_canvas.width = window.innerWidth || document.documentElement.clientWidth || document.body
							.clientWidth,
							canvas_height = the_canvas.height = window.innerHeight || document.documentElement.clientHeight ||
							document.body.clientHeight;
					}

					//绘制过程
					function draw_canvas() {
						context.clearRect(0, 0, canvas_width, canvas_height);
						//随机的线条和当前位置联合数组
						var e, i, d, x_dist, y_dist, dist; //临时节点
						//遍历处理每一个点
						random_points.forEach(function(r, idx) {
							r.x += r.xa,
								r.y += r.ya, //移动
								r.xa *= r.x > canvas_width || r.x < 0 ? -1 : 1,
								r.ya *= r.y > canvas_height || r.y < 0 ? -1 : 1, //碰到边界，反向反弹
								context.fillRect(r.x - 0.5, r.y - 0.5, 1, 1); //绘制一个宽高为1的点
							//从下一个点开始
							for (i = idx + 1; i < all_array.length; i++) {
								e = all_array[i];
								// 当前点存在
								if (null !== e.x && null !== e.y) {
									x_dist = r.x - e.x; //x轴距离 l
									y_dist = r.y - e.y; //y轴距离 n
									dist = x_dist * x_dist + y_dist * y_dist; //总距离, m

									dist < e.max && (e === current_point && dist >= e.max / 2 && (r.x -= 0.03 * x_dist, r
											.y -= 0.03 * y_dist), //靠近的时候加速
										d = (e.max - dist) / e.max,
										context.beginPath(),
										context.lineWidth = d / 2,
										context.strokeStyle = "rgba(" + config.c + "," + (d + 0.2) + ")",
										context.moveTo(r.x, r.y),
										context.lineTo(e.x, e.y),
										context.stroke());
								}
							}
						}), frame_func(draw_canvas);
					}
					//创建画布，并添加到body中
					var the_canvas = document.createElement("canvas"), //画布
						config = get_config_option(), //配置
						canvas_id = "c_n" + config.l, //canvas id
						context = the_canvas.getContext("2d"),
						canvas_width, canvas_height,
						frame_func = window.requestAnimationFrame || window.webkitRequestAnimationFrame || window
						.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame || function(
							func) {
							window.setTimeout(func, 1000 / 45);
						},
						random = Math.random,
						current_point = {
							x: null, //当前鼠标x
							y: null, //当前鼠标y
							max: 20000 // 圈半径的平方
						},
						all_array;
					the_canvas.id = canvas_id;
					the_canvas.style.cssText = "position:fixed;top:0;left:0;z-index:" + config.z + ";opacity:" + config.o;
					get_by_tagname("body")[0].appendChild(the_canvas);

					//初始化画布大小
					set_canvas_size();
					window.onresize = set_canvas_size;
					//当时鼠标位置存储，离开的时候，释放当前位置信息
					window.onmousemove = function(e) {
						e = e || window.event;
						current_point.x = e.clientX;
						current_point.y = e.clientY;
					}, window.onmouseout = function() {
						current_point.x = null;
						current_point.y = null;
					};
					//随机生成config.n条线位置信息
					for (var random_points = [], i = 0; config.n > i; i++) {
						var x = random() * canvas_width, //随机位置
							y = random() * canvas_height,
							xa = 2 * random() - 1, //随机运动方向
							ya = 2 * random() - 1;
						// 随机点
						random_points.push({
							x: x,
							y: y,
							xa: xa,
							ya: ya,
							max: 6000 //沾附距离
						});
					}
					all_array = random_points.concat([current_point]);
					//0.1秒后绘制
					setTimeout(function() {
						draw_canvas();
					}, 100);
				}();
			</script>
			<!-- 黑白棋 -->
			<script type="text/javascript">
				var chess = new Vue({
					el: '#chessboard',
					data: {
						index: 1, //顺序，黑棋为奇数，白棋为偶数
						chessboard: [ //存放棋盘的数组，1为白，-1为黑，0为没有棋子 ,2为提示可以下棋
							0, 0, 0, 0, 0, 0, 0, 0,
							0, 0, 0, 0, 0, 0, 0, 0,
							0, 0, 0, 0, 0, 0, 0, 0,
							0, 0, 0, 1, -1, 0, 0, 0,
							0, 0, 0, -1, 1, 0, 0, 0,
							0, 0, 0, 0, 0, 0, 0, 0,
							0, 0, 0, 0, 0, 0, 0, 0,
							0, 0, 0, 0, 0, 0, 0, 0
						],
						whiteNum: 2, //白棋数量
						blackNum: 2, //黑棋数量
						squareNum: 4, //棋子数量

						playFlag: true, //记录上一回合是否落子 

						playSquare: {}, //记录下可以落子的位置
						chessboardShow: [] //棋盘二维数组   
					},
					beforeMount: function() {
						//将棋盘变为二维数组，方便遍历展示
						var arr01 = [];
						for (var i = 0; i < 8; i++) {
							var arr02 = [];
							for (var j = 0; j < 8; j++) {
								arr02.push(this.chessboard[i * 8 + j])
							}
							arr01.push(arr02)
						}
						this.chessboardShow = arr01;

						for (var i = 0; i < this.chessboard.length; i++) {
							//遍历是否判断可以落子的位置
							if (this.chessboard[i] === 0) {
								this.canPlay(i)
							}
						}
					},
					methods: {
						restart: function() {
							this.chessboard = [
								0, 0, 0, 0, 0, 0, 0, 0,
								0, 0, 0, 0, 0, 0, 0, 0,
								0, 0, 0, 0, 0, 0, 0, 0,
								0, 0, 0, 1, -1, 0, 0, 0,
								0, 0, 0, -1, 1, 0, 0, 0,
								0, 0, 0, 0, 0, 0, 0, 0,
								0, 0, 0, 0, 0, 0, 0, 0,
								0, 0, 0, 0, 0, 0, 0, 0
							];
							for (var i = 0; i < this.chessboard.length; i++) {
								//遍历是否判断可以落子的位置
								if (this.chessboard[i] === 0) {
									this.canPlay(i)
								}
							}
							this.whiteNum = 2;
							this.blackNum = 2;

							this.playFlag = true;
						},
						playing: function(row, col) {
							//落子
							if (this.chessboardShow[row][col] != 2) {
								//该位置是否可以落子，不可以返回
								return
							}
							//可以落子
							var square = row * 8 + col;
							this.chessboard.splice(square, 1, this.index % 2 == 0 ? 1 : -1);
							this.turn(square);
							if (this.squareNum === 64) {
								return
							}
							this.index++;
						},
						canPlay: function(square) {
							//判断是否可以落子
							var flag = false;
							var index = this.index % 2 === 0 ? 1 : -1;
							this.playSquare[square] = [];
							var top = parseInt(square / 8),
								bottom = 7 - parseInt(square / 8),
								left = square % 8,
								right = 7 - square % 8; //格子距离棋盘上下左右的距离
							//左上
							//左上方是否有对方棋子，如果有。继续
							if (this.chessboard[square - 9] === 0 - index) {
								//继续往左上方遍历，是否有自己的棋子
								var arr = []; //存储遍历过程中的棋子
								for (var i = 1; i <= (top < left ? top : left); i++) {
									if (square - i * 9 < 0) break //如果超出棋盘，则结束遍历
									if (this.chessboard[square - i * 9] === 0 || this.chessboard[square - i * 9] === 2)
										break //如果遇到空白棋盘或可落子区域，返回
									arr.push(square - i * 9);
									if (this.chessboard[square - i * 9] === index) {
										flag = true;
										this.chessboard.splice(square, 1, 2); //如果有自己的棋子，这该位置可以落子

										arr.pop(); //去除最后一个自己的棋子
										this.playSquare[square] = this.playSquare[square].concat(arr);
										break
									}

								}
							}
							//上
							if (this.chessboard[square - 8] === 0 - index) {
								var arr = [];
								for (var i = 1; i <= top; i++) {
									if (square - i * 8 < 0) break
									if (this.chessboard[square - i * 8] === 0 || this.chessboard[square - i * 8] === 2)
										break
									arr.push(square - i * 8);
									if (this.chessboard[square - i * 8] === index) {
										flag = true;
										this.chessboard.splice(square, 1, 2);

										arr.pop();
										this.playSquare[square] = this.playSquare[square].concat(arr);
										break
									}
								}
							}
							//右上
							if (this.chessboard[square - 7] === 0 - index) {
								var arr = [];
								for (var i = 1; i <= (top < right ? top : right); i++) {
									if (square - i * 7 < 0) break
									if (this.chessboard[square - i * 7] === 0 || this.chessboard[square - i * 7] === 2)
										break
									arr.push(square - i * 7);
									if (this.chessboard[square - i * 7] === index) {
										flag = true;
										this.chessboard.splice(square, 1, 2);

										arr.pop();
										this.playSquare[square] = this.playSquare[square].concat(arr);
										break
									}
								}
							}
							//右
							if (this.chessboard[square + 1] === 0 - index) {
								var arr = [];
								for (var i = 1; i <= right; i++) {
									if (square + i > 64) break
									if (this.chessboard[square + i] === 0 || this.chessboard[square + i] === 2) break
									arr.push(square + i);
									if (this.chessboard[square + i] === index) {
										flag = true;
										this.chessboard.splice(square, 1, 2);

										arr.pop();
										this.playSquare[square] = this.playSquare[square].concat(arr);
										break
									}
								}
							}
							//右下
							if (this.chessboard[square + 9] === 0 - index) {
								var arr = [];
								for (var i = 1; i <= (bottom < right ? bottom : right); i++) {
									if (square + i * 9 > 64) break
									if (this.chessboard[square + i * 9] === 0 || this.chessboard[square + i * 9] === 2)
										break
									arr.push(square + i * 9);
									if (this.chessboard[square + i * 9] === index) {
										flag = true;
										this.chessboard.splice(square, 1, 2);

										arr.pop();
										this.playSquare[square] = this.playSquare[square].concat(arr);
										break
									}
								}
							}
							//下
							if (this.chessboard[square + 8] === 0 - index) {
								var arr = [];
								for (var i = 1; i <= bottom; i++) {
									if (square + i * 8 < 0) break
									if (this.chessboard[square + i * 8] === 0 || this.chessboard[square + i * 8] === 2)
										break
									arr.push(square + i * 8);
									if (this.chessboard[square + i * 8] === index) {
										flag = true;
										this.chessboard.splice(square, 1, 2);

										arr.pop();
										this.playSquare[square] = this.playSquare[square].concat(arr);
										break
									}
								}
							}
							//左下
							if (this.chessboard[square + 7] === 0 - index) {
								var arr = [];
								for (var i = 1; i <= (bottom < left ? bottom : left); i++) {
									if (square + i * 7 > 64) break
									if (this.chessboard[square + i * 7] === 0 || this.chessboard[square + i * 7] === 0)
										break
									arr.push(square + i * 7);
									if (this.chessboard[square + i * 7] === index) {
										flag = true;
										this.chessboard.splice(square, 1, 2);

										arr.pop();
										this.playSquare[square] = this.playSquare[square].concat(arr);
										break
									}
								}
							}
							//左
							if (this.chessboard[square - 1] === 0 - index) {
								var arr = [];
								for (var i = 1; i <= left; i++) {
									if (square - i < 0) break
									if (this.chessboard[square - i] === 0 || this.chessboard[square - i] === 2) break
									arr.push(square - i);
									if (this.chessboard[square - i] === index) {
										flag = true;
										this.chessboard.splice(square, 1, 2);

										arr.pop();
										this.playSquare[square] = this.playSquare[square].concat(arr);
										break
									}
								}
							}
							return flag;
						},
						//翻棋
						turn: function(index) {
							var adverse = this.playSquare[index]; //可以翻的对方的棋子下标
							for (var i = 0; i < adverse.length; i++) {
								this.chessboard.splice(adverse[i], 1, this.index % 2 === 0 ? 1 : -1)
							}
							this.playSquare = {}
						},
						win: function() {
							if (this.whiteNum > this.blackNum) {
								alert('游戏结束，白方胜利')
							}
							if (this.whiteNum < this.blackNum) {
								alert('游戏结束，黑方胜利')
							}
							if (this.whiteNum === this.blackNum) {
								alert('游戏结束，平局')
							}
						}
					},
					watch: {
						chessboard: function() { //监听棋盘数组的变化，实时变为二维数组
							var arr01 = [];
							for (var i = 0; i < 8; i++) {
								var arr02 = [];
								for (var j = 0; j < 8; j++) {
									arr02.push(this.chessboard[i * 8 + j])
								}
								arr01.push(arr02)
							}
							this.chessboardShow = [];
							this.chessboardShow = arr01;
							this.whiteNum = this.chessboard.filter(function(item) {
								return item === 1;
							}).length;
							this.blackNum = this.chessboard.filter(function(item) {
								return item === -1;
							}).length;
						},
						index: function() { //监听index的变化，让轮到另一人时，判断新的可落子的位置
							var pass = false; //是否还可以落子，可以true，不可以false
							for (var i = 0; i < this.chessboard.length; i++) {
								if (this.chessboard[i] === 2) {
									this.chessboard[i] = 0; //把之前可以落子的位置标志清除
								}
								if (this.chessboard[i] === 0) {
									if (this.canPlay(i)) {
										pass = true; //有可落子的位置，说明可以落子
										this.playFlag = true; //上一轮不能落子，本轮可以落子，重置标志
									}
								}
							}
							if (!pass) {
								if (!this.playFlag) {
									var _this = this
									setTimeout(function() {
										_this.win() //如果上一轮和本轮都不能落子，游戏结束
									}, 1000)
								} else {
									this.playFlag = false;
									this.index++ //如果没有可以落子的位置，pass，另一人落子
								}
							}
						},
						squareNum: function(val) {
							if (val === 64) {
								var _this = this
								setTimeout(function() {
									_this.win();
								}, 1000)
							}
						}
					},
					computed: {
						squareNum: function() {
							return this.whiteNum + this.blackNum;
						}
					}
				})
			</script>
		<!-- 视图自适应 -->
		<script type="text/javascript">
			$(function() {
				if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) { // 手机页面视图
					$("span").filter(".normal-title").addClass("small-title").removeClass("normal-title"); // 页面div的标题
					$("span").filter(".normal-spirit-size").addClass("small-spirit-size").removeClass(
						"normal-spirit-size"); // 班旗班徽标题
					$("span").filter(".normal-text").addClass("small-text").removeClass("normal-text"); // text自适应
					$("span").filter(".normal-text-br").addClass("small-text-br").removeClass(
					"normal-text-br"); // br自适应
					$("div").filter("#othello").html("<p style='font-size: 32px;'>你的设备不支持黑白棋</p>")
				} else {
					if ($("#content_article").length > 0) { // 班级主页的页面视图
						$("#content_article").children().eq(0).addClass("top-wheather-text-div"); // 班级主页 天气部分样式
					} else { // 电脑端网页视图
						if ($(".newsCon").eq(0).children().eq(1).children().eq(0).children().eq(0).html() ==
							'提醒：该文章还未通过审核') {
							// 未审核通过视图
							
						} else {
							
						}
					}
				}
			});
		</script>
		</div>
		<!-- END Last-Part: 载入各种JavaScript END -->
		<span class="normal-text-br"><br>
		</span>
	</div>
