# IGNORE VIDEOs
*.mp4
*.MP4
*.mpeg
*.MPEG
*.avi
*.AVI
*.mov
*.MOV
*.asf
*.ASF
*.wmv
*.WMV
*.navi
*.NAVI
*.nkv
*.MKV
*.FLV
*.flv
*.F4V
*.f4v
*.RMVB
*.rmvb
*.webm
*.WEBM
/WorkPlace